body {
  text-align: center;
  background-color: #011F3F;
}

p {
  color: #fff;
}

#level-title {
  font-size: 2rem;
  margin: 5%;
  color: #FEF2BF;
}

.cover {
  width: 400px;
  margin-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.footer {
  margin-top: 10%;
}
