body {
  background-color: #0f4c75;
  color: #bbe1fa;
  padding-top: 3rem;
}
.center-div {
  margin-top: auto;
  margin-bottom: auto;
}

/* NavBar */
.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
.dropdown-toggle::after {
  transition: transform 0.15s linear;
}
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
.dropdown-menu {
  margin-top: 0;
  right: 0 !important;
  left: auto !important;
}
.logo {
  width: 3rem;
}
.colored {
  background-color: #343a40;
  color: #c8c8c8;
}
/* Content */
.titel-img {
  width: 70%;
  margin-top: 2rem;
}

#features {
  padding: 3rem 15%;
}

/* Skills */
#skills {
  padding: 3rem 15%;
}
.skills-img {
  width: 80%;
  margin-bottom: 2rem;
}
.skill-header {
  font-weight: bold;
}
.skill {
  margin-bottom: 0px;
  margin-top: 0.75rem;
}

/* Footer */
#footer {
  padding: 3rem 15% 1.5rem 15%;
  text-align: center;
  color: #c8c8c8;
}
#footer p {
  padding-top: 2rem;
}
#footer a {
  color: #c8c8c8;
  padding-left: 1rem;
}
#footer a:hover {
  text-decoration: none;
  color: #fff;
}
.social-icon {
  margin-bottom: 2rem;
  margin-right: 1rem;
}
/* Media */
@media (max-width: 1028px) {
  #features {
    padding: 10% 15%;
  }
  .skills-img {
    width: 100%;
  }
  .titel-img {
    width: 100%;
  }
}

#content {
  text-align: center;
}
.title {
  margin: 3rem;
}

.cover {
  width: 400px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}